
.container{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 205px;
    height: 80px;
   margin-top: 25px;
   margin-left:15px;
}
.cart{
    width: 30px;
    height: 30px;
}
.button{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 10px;
    gap: 20px;
}
.button_delimiter{
    width: 1px;
    height: 25px;
    background-color: green;
}
 span{
    text-decoration: none;
    font-weight: bold;
}
.header-cart a{
    border-radius: 10px;
   
    margin-right: 30px;
}
.contact h2{
    font-size: 13px;
    font-weight: lighter;
    line-height: 20px;
}
.contact{
    margin-left: 600px;
    margin-top: 50px;
}
.contact a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
