.flex{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    border: 1px solid black;   margin-top: 40px;
}
.flex a{
    width:140px;
    padding: 14px;
    list-style-type: none;
    text-align: center;
    font-size: 15px;
    margin-right: 85px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.active{
    background-color: green;
}

